.welcome{
    font-family:'Courier New', Courier, monospace;
    background-color: lightgreen;
    border-radius: 5px;
    font-size: 3em;
    padding:10px;
    width:600px;
    margin:0;
}

.loginPage{
    font-family:'Courier New', Courier, monospace;
    background-color: red;
    border-radius: 5px;
    font-size: 3em;
    padding:10px;
    width:600px;
    margin:0;
}